/* Styles pour la barre latérale droite */
.right-sidebar {
    width: 30%; /* Occupe 30% de la largeur de la page */
    background-color: #48b6d8; /* Couleur de fond verte */
    color: white; /* Couleur du texte en blanc */
    padding: 1rem; /* Espacement interne */
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); /* Ombre légère sur le côté gauche pour un effet de profondeur */
    height: calc(100vh - 100px); /* Hauteur de la barre latérale égale à la hauteur de la vue moins le décalage */
    position: fixed; /* Position fixe pour rester visible lors du défilement */
    top: 200px; /* Décale la barre de 100 pixels vers le bas */
    right: 50px; /* Aligne la barre à droite de la page */
    display: flex; /* Utilisation de Flexbox pour l'alignement du contenu */
    flex-direction: column; /* Aligne les éléments enfants en colonne */
    transform: translateX(100%); /* Cache la barre latérale en la décalant vers la droite */
    opacity: 0; /* Rend la barre latérale transparente */
    transition: transform 0.5s ease, opacity 0.5s ease; /* Animation pour la transformation et l'opacité */
}

/* Classe pour faire apparaître la barre latérale */
.right-sidebar.visible {
    margin: 0; /* Supprime la marge par défaut du titre */
    padding-bottom: 1rem; /* Espacement sous le titre */
    transform: translateX(0); /* Remet la barre latérale à sa position d'origine */
    opacity: 1; /* Rend la barre latérale complètement opaque */

}
