/* Navbar.css */
.navbar {
  background-color: #1a487c; /* Couleur de fond de la barre de navigation */
  padding: 1rem; /* Espacement interne */
  display: flex; /* Utilisation de flexbox pour l'alignement */
  justify-content: center; /* Centrage horizontal */
}

.nav-links {
  list-style: none; /* Suppression des puces de liste */
  padding: 0; /* Suppression du padding par défaut */
  margin: 0; /* Suppression de la marge par défaut */
  display: flex; /* Affichage en ligne des éléments de la liste */
}

.nav-links li {
  margin: 0 15px; /* Espacement horizontal entre les éléments */
  font-family: cursive;
}

.nav-links a {
  color: white; /* Couleur du texte des liens */
  text-decoration: none; /* Suppression de la décoration de texte (souligné) */
  font-size: 1rem; /* Taille de la police */
  transition: color 0.3s, text-decoration 0.3s; /* Animation de la couleur au survol */
}

.nav-links a:hover {
  /* color: #f10c04 ;  */
  text-decoration: underline;
}

.nav-links a.active {
  font-weight: bold; /* Style pour le lien actif */
}
